<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
   <appSettings>  
    <add key="pathVideo" value="..\\..\\Media\\Video\\"/>
     <add key="pathImage" value="..\\..\\Media\\Images\\"/>
     <add key="pathAudio" value="..\\..\\Media\\Audio\\"/>
     <add key="User" value="..\\..\\Media\\Json\\User.json"/>
     <add key="SaveItem" value="..\\..\\Media\\Json\\SaveItem.json"/>
     <add key="Chats" value="..\\..\\Media\\Json\\Chats.json"/>

     <add key="Token" value="****************"/>

      
  </appSettings> 
</configuration>